---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
type Props = {
  description: string;
  title: string;
};
const { description, title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body
    class="container grid grid-rows-[60px_1fr_60px] grid-cols-1 min-h-[100dvh] max-w-xl mx-auto pt-4 pb-8 px-4 gap-y-12"
  >
    <Header />
    <main class="prose">
      <slot />
    </main>
    <Footer />
  </body>
</html>
